.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.datacard{
  display: flex;
  align-items: center;
  gap: 20px;
}
